{% extends 'admin_base_auth.html' %}
{% block content %}

<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light rounded px-3 py-2">
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add User</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <h5 class="text-uppercase text-center">Add New User</h5>
        </div>
        <div class="card-body">
            {% include 'partials/_messages.html' %}
            <form action="{% url 'sensadmin' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label>User</label>
                    <input type="text" name="amount" class="form-control" value="{{ values.amount }}">
                </div>
                <div class="form-group mb-3">
                    <label>Description</label>
                    <input type="text" name="description" class="form-control" value="{{ values.description }}">
                </div>
                <div class="form-group mb-3">
                    <label>Category</label>
                    <select name="category" class="form-control">
                        {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Date of Expense</label>
                    <input type="date" name="expense_date" class="form-control">
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">➕ Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
