{% extends 'base_auth.html' %} 
{% load static%}

{% block content %}

<div class="row min-vh-100">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">     
      <div class="card-body">
        <div class="card-title">
            <h4 style="cursor: pointer">Register Your Account</h4>
        </div>  
        <form action="{% url 'register' %}" method="post" >
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
            <div class="form-floating py-2">
                <input type="text" class="form-control" id="usernameFeild" placeholder="User Name" name="username" value={{feildValues.username}}>
                <label for="usernameFeild" >User Name</label>
              </div>
              <div class="form-floating">
                 <div class="invalid-feedback invalid_feedback" style="display:none"> 
                 </div>
              </div>
              <p class="text-sm text-success usernamesuccess" style="display:none"></p>
            <div class="form-floating py-2">
              <input type="email" class="form-control" id="emailFeild" placeholder="name@example.com" name="email" value={{feildValues.email}}>
              <label for="emailFeild">Email address</label>
            </div>
            <div class="form-floating">
              <div class="invalid-feedback invalid_emailfeedback" style="display:none">
              </div>
              <p class="text-sm text-success emailsuccess" style="display:none"></p>
           </div>
            <div class="form-floating py-2">
              <input type="password" class="form-control" id="floatingPasswordFeild" placeholder="Password" name="password" value={{feildValues.password}}>
              <label for="floatingPasswordFeild">Password</label>
              {% comment %} <small class="float-end py-3 fs-8 showPasswordToggle">SHOW</small> {% endcomment %}
            </div> 
            <div class="form-floating py-2">
              <span class="text-info">Have an account?</span> <a href="{% url "login" %}"> Login </a>      
            </div>
            <button class="btn btn-primary w-100 py-2 submit-btn" type="submit">Register</button>
          </form>      
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
