{% extends 'base_auth.html' %} 
{% load static%}

{% block content %}

<div class="row min-vh-100">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">     
      <div class="card-body">
        <div class="card-title">
            <h4 style="cursor: pointer">Please type in Email to send Reset link </h4>
        </div>  
        <form action="{% url 'request-password' %}" method="post" >
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
            <div class="form-floating py-2">
                <div class="form-floating py-2">
                    <input type="email" class="form-control" id="emailFeild" placeholder="name@example.com" name="email" value={{values.email}}>
                    <label for="emailFeild">Email address</label>
                  </div>
                  <div class="form-floating">
                    <div class="invalid-feedback invalid_emailfeedback" style="display:none">
                    </div>
                    <p class="text-sm text-success emailsuccess" style="display:none"></p>
                 </div>  
                 <div class="form-floating py-2 row">
                    <div class="col-md-6">
                      <span class="text-info">Don't have an account?</span> <a href="{% url "register" %}"> Register </a>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                      <span class="text-info">Have an Account?</span> <a href="{% url "login" %}">Login</a>  
                    </div>
                  </div> 
            <button class="btn btn-primary w-100 py-2 submit-btn" type="submit">Submit</button>
          </form>      
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
