{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="container">
    <header class="theme-banner text-center py-5 mb-4 shadow-lg border-bottom border-success">
        <h1 class="display-5 fw-bold text-uppercase">Reset Password</h1>
        {% comment %} <p class="lead subtext mt-2">Enter your email to receive reset instructions</p> {% endcomment %}
    </header>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form action="{% url 'request-password' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="emailFeild" placeholder="name@example.com" name="email" value="{{ values.email }}">
                            <label for="emailFeild">Email address</label>
                        </div>

                        <div class="invalid-feedback invalid_emailfeedback" style="display:none"></div>
                        <p class="text-sm text-success emailsuccess" style="display:none"></p>

                        <div class="d-flex justify-content-between mb-3">
                            <a href="{% url 'register' %}">Don't have an account?</a>
                            <a href="{% url 'login' %}">Login</a>
                        </div>

                        <button class="btn btn-success w-100" type="submit">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
