{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="container">
    <header class="theme-banner text-center py-5 mb-4 shadow-lg border-bottom border-success">
        <h1 class="display-6 fw-bold text-uppercase">Set New Password</h1>
        {% comment %} <p class="lead subtext mt-2">Choose a strong new password</p> {% endcomment %}
    </header>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPasswordFeild" placeholder="Password" name="password">
                            <label for="floatingPasswordFeild">Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPasswordFeild" placeholder="Confirm Password" name="passwordrepeat">
                            <label for="floatingPasswordFeild">Confirm Password</label>
                        </div>

                        <button class="btn btn-success w-100" type="submit">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
