{% extends 'base_auth.html' %} 
{% load static%}

{% block content %}

<div class="row min-vh-100">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">     
      <div class="card-body">
        <div class="card-title">
            <h4 style="cursor: pointer">Reset Your Password</h4>
        </div>  
        <form action="{% url 'reset-user-password' uidb64 token %}" method="post" >
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
                                 
            <div class="form-floating py-2">
              <input type="password" class="form-control" id="floatingPasswordFeild" placeholder="Password" name="password">
              <label for="floatingPasswordFeild">Password</label>
              {% comment %} <small class="float-end py-3 fs-8 showPasswordToggle">SHOW</small> {% endcomment %}
            </div> 
            <div class="form-floating py-2">
                <input type="password" class="form-control" id="floatingPasswordFeild" placeholder="Confirm Password" name="passwordrepeat" >
                <label for="floatingPasswordFeild">Confirm Password</label>
                {% comment %} <small class="float-end py-3 fs-8 showPasswordToggle">SHOW</small> {% endcomment %}
              </div>            
            <button class="btn btn-primary w-100 py-2 submit-btn" type="submit">Change Password</button>
          </form>      
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
